<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oz_stream.tv">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-feature android:name="android.hardware.microphone"
        android:required="false"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/logo_official"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OZ_STREAM_TV">
        <activity
            android:name=".ui.player.EmbedActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.player.Play"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.publish_channel.ChannelPublishActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback.GuidedStep"/>

        <activity
            android:name=".ui.dialog.DialogActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.detail.DetailDataActivity"
            android:exported="true" />

        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.AuthencateCodeQR"
            android:exported="true" />
        <activity
            android:name=".ui.main.IDCode"
            android:exported="true" />
        <activity
            android:name=".ui.main.SplashScreen"
            android:exported="true"
            android:banner="@drawable/banner"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:logo="@mipmap/logo_official"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!--<intent-filter>
                <action android:name="com.google.android.gms.cast.tv.action.LAUNCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->

        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:banner="@drawable/banner"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:logo="@mipmap/logo_official"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.cast.tv.RECEIVER_OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.oz_stream.tv.CastReceiverOptionsProvider" />
    </application>

</manifest>